.omicron {
  margin: 20px 0 20px 0;
  padding:60px;
    .card-title {
      font-family: "Old TT";
      font-size: 42px;
      font-weight: bold;
      text-transform: uppercase;
    }

    .card-text {
      max-width: 300px;
      line-height: 30px;
      color: #646266; 
    }
  }

  @media only screen and (max-width: 767px) {
    .omicron {
      padding:32px;

      .card-title {
        font-size: 36px;
      }

      .card-text {
        max-width: 100%;
      }
    }
  }